/* VARIABLES */
$foodiful: #7b1fa2;
$test: orange;
$menuColor: #ffe8ff;
$white: #fff;
$fontColor: #b4a7b7;
/* COMMON */
body {
  height: 3000px;
  font-family: 'Black Han Sans', sans-serif;
}
.inner {
  width: 1300px;
  margin: 0 auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
/* HEADER */
.header {
  background-color: $menuColor;
  .inner {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 55px;
      font-weight: bold;
      color: $white;
      text-shadow: 2px 2px 2px gray;
      img {
        margin-left: 30px;
      }
    }
  }
}

.nav {
  width: 100%;
  background-color: $foodiful;
  .inner {
    height: 50px;
    display: flex;
    .nav-menu {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #fff;
    }
  }
  .nav-menu__items.hide {
    display: none;
  }
  .nav-menu__items {
    display: flex;
    .inner {
      width: 1300px;
      height: 500px;
      margin: 0 auto;
      display: flex;
      border-top: 1px solid $fontColor;
      color: $white;
      h3 {
        padding: 10px 30px;
        margin-bottom: 20px;
        font-size: 40px;
      }
      ul {
        padding: 10px 30px;
        border-right: 1px solid $fontColor;
        li {
          padding: 20px 0;
          font-size: 25px;
          a {
            color: $white;
          }
        }
      }
    }
  }
}
.swiper {
  background-color: $menuColor;
  .swiper-wrapper {
    margin-left: 10px;
    .swiper-slide {
      img {
        width: 500px;
        height: 500px;
        padding: 30px;
      }
    }
  }
}
